# Ignore everything
*

!.gitignore
!README.md
!designp1.txt
!designp2.txt



!src/

### PROJECT 1
!src/threads/
!src/devices/

# THREADS directory
!src/threads/init.c
!src/threads/init.h

!src/threads/thread.c
!src/threads/thread.h

!src/threads/synch.c
!src/threads/synch.h

# DEVICES directory
!src/devices/timer.c
!src/devices/timer.h
!src/userprog/exception.c



### PROJECT 2
!src/userprog

# system call
!src/userprog/syscall.c
!src/userprog/syscall.h

# process
!src/userprog/process.c
!src/userprog/process.h