# Ignore everything
*

!.gitignore
!README.md
!design.txt


!src/
!src/threads/
!src/devices/

# THREADS directory
!src/threads/init.c
!src/threads/init.h

!src/threads/thread.c
!src/threads/thread.h

# DEVICES directory
!src/devices/timer.c
!src/devices/timer.h

